@media only screen and (max-width: 599px) {
	.signupTitle {
		position: absolute;
		height: 49px;
		width: 150px;
		left: 110px;
		top: 130px;
		/* border-radius: 0px; */
		font-family: Fjalla One;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color: #2cb4ff;
	}

	.usernameInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 55px;
		top: 210px;
		border-radius: 3px;
	}

	#registrationEmailInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 55px;
		top: 270px;
		border-radius: 3px;
	}

	#registrationPasswordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 55px;
		top: 330px;
		border-radius: 3px;
	}

	.re_passwordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 55px;
		top: 390px;
		border-radius: 3px;
	}

	.qualification {
		position: absolute;
		width: 257px;
		height: 35px;
		left: 55px;
		top: 435px;
		font-size: 10px;
	}

	.registrationFormSubmit {
		position: absolute;
		width: 257px;
		height: 35px;
		left: 58px;
		top: 485px;
		background: #aa8cff;
		border-radius: 4px;
		border: none;
		color: white;
	}

	.registrationFormSubmit:hover {
		cursor: pointer;
		background-color: #7c4dff;
	}
	#signUp-img {
		position: absolute;
		width: 180px;
		height: 240px;
		left: 85px;
		top: 615px;
	}
}

@media only screen and (min-width: 600px) {
	.body2 {
		position: absolute;
		width: 100%;
		margin: 0 auto;
		top: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.signupTitle {
		position: absolute;
		height: 49px;
		width: 150px;
		left: 250px;
		top: 130px;
		/* border-radius: 0px; */
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color: #2cb4ff;
	}

	.usernameInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 210px;
		border-radius: 3px;
	}

	#registrationEmailInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 270px;
		border-radius: 3px;
	}

	#registrationPasswordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 330px;
		border-radius: 3px;
	}

	.re_passwordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 390px;
		border-radius: 3px;
	}

	.qualification {
		position: absolute;
		width: 257px;
		height: 35px;
		left: 205px;
		top: 435px;
		font-size: 10px;
	}

	.registrationFormSubmit {
		position: absolute;
		width: 257px;
		height: 35px;
		left: 205px;
		top: 485px;
		background: #aa8cff;
		border-radius: 4px;
	}

	#signUp-img {
		position: absolute;
		width: 180px;
		height: 240px;
		left: 400px;
		top: 765px;
	}
}

@media only screen and (min-width: 768px) {
	.body2 {
		position: absolute;
		width: 100%;
		margin: 0 auto;
		left: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.signupTitle {
		position: absolute;
		height: 49px;
		width: 190px;
		left: 250px;
		top: 130px;
		/* border-radius: 0px; */
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color: #2cb4ff;
	}

	.usernameInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 210px;
		border-radius: 3px;
	}

	#registrationEmailInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 270px;
		border-radius: 3px;
	}

	#registrationPasswordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 330px;
		border-radius: 3px;
	}

	.re_passwordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 390px;
		border-radius: 3px;
	}

	.qualification {
		position: absolute;
		width: 257px;
		height: 35px;
		left: 205px;
		top: 435px;
		font-size: 10px;
	}

	.registrationFormSubmit {
		position: absolute;
		width: 257px;
		height: 48px;
		left: 205px;
		top: 485px;
		background: #aa8cff;
		border-radius: 4px;
	}

	#signUp-img {
		position: absolute;
		width: 180px;
		height: 240px;
		left: 500px;
		top: 765px;
	}
}

@media only screen and (min-width: 992px) {
	.body2 {
		position: absolute;
		width: 100%;
		margin: 0 auto;
		left: 75px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.signupTitle {
		position: absolute;
		height: 49px;
		width: 150px;
		left: 250px;
		top: 130px;
		/* border-radius: 0px; */
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color: #2cb4ff;
	}

	.usernameInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 210px;
		border-radius: 3px;
	}

	#registrationEmailInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 270px;
		border-radius: 3px;
	}

	#registrationPasswordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 330px;
		border-radius: 3px;
	}

	.re_passwordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 390px;
		border-radius: 3px;
	}

	.qualification {
		position: absolute;
		width: 257px;
		height: 35px;
		left: 205px;
		top: 435px;
		font-size: 10px;
	}

	.registrationFormSubmit {
		position: absolute;
		width: 257px;
		height: 48px;
		left: 205px;
		top: 485px;
		background: #aa8cff;
		border-radius: 4px;
	}

	#signUp-img {
		position: absolute;
		width: 180px;
		height: 240px;
		left: 650px;
		top: 765px;
	}
}

@media only screen and (min-width: 1200px) {
	.body2 {
		position: absolute;
		width: 100%;
		margin: 0 auto;
		left: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.signupTitle {
		position: absolute;
		height: 49px;
		width: 150px;
		left: 250px;
		top: 130px;
		/* border-radius: 0px; */
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color: #2cb4ff;
	}

	.usernameInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 210px;
		border-radius: 3px;
	}

	#registrationEmailInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 270px;
		border-radius: 3px;
	}

	#registrationPasswordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 330px;
		border-radius: 3px;
	}

	.re_passwordInput {
		position: absolute;
		width: 256px;
		height: 40px;
		left: 205px;
		top: 390px;
		border-radius: 3px;
	}

	.qualification {
		position: absolute;
		width: 257px;
		height: 35px;
		left: 205px;
		top: 435px;
		font-size: 10px;
	}

	.registrationFormSubmit {
		position: absolute;
		width: 257px;
		height: 48px;
		left: 205px;
		top: 485px;
		background: #aa8cff;
		border-radius: 4px;
	}

	#signUp-img {
		position: absolute;
		width: 180px;
		height: 240px;
		left: 700px;
		top: 765px;
	}
}
