.body2 {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.form {
	text-align: center;
	align-items: center;
	padding: 20px 0 0 0;
	display: flex;
	flex-direction: column;
}

.signupTitle {
	font-family: Fjalla One;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: 0.05em;
	color: #5e75ff;
}

.qualification {
	width: 245px;
	padding-top: 1rem;
	font-family: 'Open Sans';
	font-size: 0.75rem;
	color: #5e75ff;
}
input {
	width: 257px;
	left: 79px;
	top: 342px;
	padding: 0.5rem;
	border: 1px solid #000000;
	border-top: none;
	border-left: none;
	border-right: none;
}

input::placeholder {
	font-family: 'Open Sans';
	color: #c4c4c4;
}
.registrationFormSubmit {
	margin: 25px;
	font-family: 'Open Sans';
	width: 175px;
	height: 35px;
	left: 21px;
	top: 352px;
	border: none;
	background-color: hsl(256, 100%, 77%);
	border-radius: 4px;
	color: white;
}

.registrationFormSubmit:hover {
	cursor: pointer;
	background-color: #7c4dff;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
