@media only screen and (max-width: 600px) {

    .body {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .signinTitle {
        position: absolute;
        height: 49px;
        width: 150px;
        left: 115px;
        top: 130px;
        /* border-radius: 0px; */
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: #2CB4FF;
    }

    #email {
        position: absolute;
        width: 256px;
        height: 40px;
        left: 55px;
        top: 210px;
        border-radius: 3px;
    }

    #password {
        position: absolute;
        width: 256px;
        height: 40px;
        left: 55px;
        top: 300px;
        border-radius: 3px;
    }

    .signinSubmit {
        position: absolute;
        width: 257px;
        height: 35px;
        left: 58px;
        top: 390px;
        background: #AA8CFF;
        border-radius: 4px;

    }
    .register {
        position: absolute;
        width: 257px;
        height: 35px;
        left: 60px;
        top: 480px;
     }

    #signIn-img {
        position: absolute;
        width: 200px;
        height: 257px;
        left: 7px;
        top: 550px;
        /* background: url(src/pics/signin_pic.png); */
     } 
}

@media only screen and (min-width: 600px) {
    .body {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 25px;
        left: -25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .signinTitle {
        position: absolute;
        height: 49px;
        width: 150px;
        left: 310px;
        top: 120px;
        /* border-radius: 0px; */
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 49px;
        color: #2CB4FF;
    }

    #email {
        position: absolute;
        width: 300px;
        height: 40px;
        left: 240px;
        top: 210px;
        border-radius: 3px;
    }

    #password {
        position: absolute;
        width: 300px;
        height: 40px;
        left: 240px;
        top: 300px;
        border-radius: 3px;
    }

    .signinSubmit {
        position: absolute;
        width: 257px;
        height: 45px;
        left: 260px;
        top: 390px;
        background: #AA8CFF;
        border-radius: 4px;

    }

    #signIn-img {
        position: absolute;
        width: 200px;
        height: 257px;
        left: 7px;
        top: 760px;
        /* background: url(src/pics/signin_pic.png); */
     } 

     .register {
        position: absolute;
        width: 257px;
        height: 35px;
        left: 260px;
        top: 490px;
     }
}

@media only screen and (min-width: 768px) {
    .body {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 30px;
        left: 28vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .signinTitle {
        position: absolute;
        height: 49px;
        width: 150px;
        left: 115px;
        top: 130px;
        /* border-radius: 0px; */
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 49px;
        color: #2CB4FF;
    }

    #email {
        position: absolute;
        width: 256px;
        height: 40px;
        left: 55px;
        top: 210px;
        border-radius: 3px;
    }

    #password {
        position: absolute;
        width: 256px;
        height: 40px;
        left: 55px;
        top: 300px;
        border-radius: 3px;
    }

    .signinSubmit {
        position: absolute;
        width: 257px;
        height: 35px;
        left: 58px;
        top: 390px;
        background: #AA8CFF;
        border-radius: 4px;

    }
    .register {
        position: absolute;
        width: 257px;
        height: 35px;
        left: 60px;
        top: 480px;
     }

    #signIn-img {
        position: absolute;
        width: 200px;
        height: 257px;
        left: 7px;
        top: 780px;
        /* background: url(src/pics/signin_pic.png); */
     } 
}

@media only screen and (min-width: 992px) {
        .body {
        position: absolute;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 257px;
        left: 15vw;
        /* left: 7px; */
        top: 30px;
    }

    .signinTitle {
        position: absolute;
        height: 49px;
        width: 150px;
        left: 310px;
        top: 120px;
        /* border-radius: 0px; */
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 49px;
        color: #2CB4FF;
    }

    #email {
        position: absolute;
        width: 300px;
        height: 40px;
        left: 240px;
        top: 210px;
        border-radius: 3px;
    }

    #password {
        position: absolute;
        width: 300px;
        height: 40px;
        left: 240px;
        top: 300px;
        border-radius: 3px;
    }

    .signinSubmit {
        position: absolute;
        width: 257px;
        height: 45px;
        left: 265px;
        top: 390px;
        background: #AA8CFF;
        border-radius: 4px;

    }

    #signIn-img {
        position: absolute;
        width: 200px;
        height: 257px;
        left: 7px;
        top: 760px;
        /* background: url(src/pics/signin_pic.png); */
     } 

     .register {
        position: absolute;
        width: 257px;
        height: 35px;
        left: 260px;
        top: 490px;
     }
}

@media only screen and (min-width: 1200px) {
    .body {
    position: absolute;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 257px;
    /* left: 7px; */
    top: 0;
}

.signinTitle {
    position: absolute;
    height: 49px;
    width: 150px;
    left: 310px;
    top: 120px;
    /* border-radius: 0px; *
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 49px;
    color: #2CB4FF;
}

#email {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 240px;
    top: 210px;
    border-radius: 3px;
}

#password {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 240px;
    top: 300px;
    border-radius: 3px;
}

.signinSubmit {
    position: absolute;
    width: 257px;
    height: 45px;
    left: 265px;
    top: 390px;
    background: #AA8CFF;
    border-radius: 4px;

}

#signIn-img {
    position: absolute;
    width: 200px;
    height: 257px;
    left: 7px;
    top: 760px;
    /* background: url(src/pics/signin_pic.png); */
 } 

 .register {
    position: absolute;
    width: 257px;
    height: 35px;
    left: 260px;
    top: 490px;
 }
}

