.signinTitle {
    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #5E75FF;
}
.emailInput {
    border-bottom: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}
.passwordInput {
    border-bottom: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}
.signinSubmit {
    background: #AA8CFF;
    border-radius: 4px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
}
.registrationTitle {
    color: #5E75FF;
}
.registration {
    color: #5E75FF;
}

@media only screen and (max-width: 600px) {
    
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
    
}