@media only screen and (max-width: 599px) {
    .uploadsTitle {
        font-family: Fjalla One;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #5E75FF;
    }
    .dropBox {
        width: 339px;
        height: 246px;
        background: rgba(255, 243, 243, 0.6);
        border: 1px solid #C4C4C4;
        display: flex;
        justify-content: space-around;
    }
    .dropBoxContainer {
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgOne {
        height: 50px;
        position: absolute;
        margin-top: 18%;
    }
    .imgTwo {
        height: 30px;
        position: absolute;
        margin-top: 34%;
        right: 24%;
    }
    .uploadsBtn {
        width: 339px;
        height: 35px;
        background: #AA8CFF;
        border-radius: 4px;
    }
    .uploadsFooter {
        position: fixed;
        bottom: 0px;
        height: 120px;
        display: flex;
        width: 100%;
        right: 0px;
    }
}

@media only screen and (min-width: 600px) {

    .body4 {
        margin: 75px 0 0 0;
    }
    .uploadsTitle {
        font-family: Fjalla One;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #5E75FF;
    }
    .dropBox {
        width: 339px;
        height: 246px;
        background: rgba(255, 243, 243, 0.6);
        border: 1px solid #C4C4C4;
        display: flex;
        justify-content: space-around;
    }
    .dropBoxContainer {
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgOne {
        height: 50px;
        position: relative;
        margin-top: 100px;
        left: 80px;
    }
    .imgTwo {
        height: 30px;
        position: relative;
        margin-top: 210px;
        left: 60px;
    }
    .uploadsBtn {
        width: 339px;
        height: 35px;
        background: #AA8CFF;
        border-radius: 4px;
    }
    .uploadsFooter {
        position: fixed;
        bottom: 0px;
        height: 120px;
        display: flex;
        width: 100%;
        right: 0px;
    }
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
    
}
